/*
include the colorpicker css and than modify stuff
@import "/static/app/Spreadsheets/evol-colorpicker.css";
*/

#image_overlay_panel .image{
    background: transparent 50% 50% no-repeat url('/static/app/simple_xml_examples/splunk_indexing_pipeline.png');
    position:absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
}